.env
.env.local
.env.production

__pycache__/
*.py[cod]
*$py.class
*.so
myenv/
venv/
.venv/

back-end/chroma_db/

node_modules/
front-end/node_modules/
front-end/.next/

bev-chat/

.vscode/
.idea/
*.code-workspace

.DS_Store
Thumbs.db

tokens.json

package-lock.json

dist/
build/
